<div class="main-content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-headline">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 30px;">Профессоры</h2>
                </div>
            </div>
            <div class="panel-body">
                <jhi-alert></jhi-alert>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 no-padding-left">
                            <button class="btn btn-primary" ui-sref="teacher.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span>
                                    Создать профессора
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Имя</span></th>
                            <th><span>Адрес</span></th>
                            <th><span>Номер телефона</span></th>
                            <th><span>Зарплата</span></th>
                            <th><span>Преподает</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="teacher in vm.teachers track by teacher.id">
                            <td><a ui-sref="teacher-detail({id:teacher.id})">{{teacher.id}}</a></td>
                            <td>{{teacher.name}}</td>
                            <td>{{teacher.address}}</td>
                            <td>{{teacher.phonenumber}}</td>
                            <td>{{teacher.salary}}</td>
                            <td>
                            <span ng-repeat="course in teacher.courses">
                                <a class="form-control-static" ui-sref="course-detail({id: course.id})">{{course.name}}</a>{{$last ? '' : ', '}}
                            </span>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="teacher-detail({id:teacher.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="teacher.edit({id:teacher.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="teacher.delete({id:teacher.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
