<!DOCTYPE html>
<html>
<head>
    <title>Course Model</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>
<h1>Добро пожаловать в электронную систему "Course Model"!</h1>
<h2>Доступ к системе доступен только для зарегистрированных пользователей.</h2>

<h2><a href="/registration">Регистрация    </a><a href="/student_controller/stud">/     Авторизация</a></h2>
</body>
</html>