<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/init :: head">
    <title>Заглавная страница блога</title>
</head>
<body>

<!-- Шаблон Header'а -->
<div th:replace="fragments/header :: header">
    ...
</div>

<div class="container-fluid">

    <h2 th:if="${exchangeFile} != null" th:text="${exchangeFile}"/>
    <h2 th:unless="${exchangeFile} != null">Все студенты университета</h2>

    <div class="row content">
        <div class="col-md-6">
            <div class="form-group purple-border">
                <span th:if="${toFile}">
                    <label for="exampleFormControlTextarea3">Расположение файла выгрузки:</label>
                    <input class="form-control" id="exampleFormControlTextarea3" type="text" th:value="${json}" readonly>
                </span>
                <span th:unless="${toFile}">
                    <label for="exampleFormControlTextarea4">Текст в формате json</label>
                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="25" th:text="${json}" readonly />
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Шаблон Footer'а -->
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>