<!DOCTYPE html>
<html>
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> Логин : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Регистрация"/></div>
</form>
</body>
</html>