<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>Student List</title>
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <div class="header">
            <p>Assigned courses to<span th:text="${student.name}"></span></p>
        </div>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>number</th>
                    <th>price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course: ${courses}">
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.number}"></td>
                    <td th:text="${course.price}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button">
        <a href="/students/all">back</a>
    </div>
    <div class="button">
        <a href="/index">index</a>
    </div>
</body>
</html>